<div class="footer amber accent-3">
  <div class="row nomarginbottom">
      <div class="col s6 m1 offset-m4 ">
        <div class="links">
          <ul>
            <li><a class="link-text" href="#">Home</a></li>
            <li><a class="link-text" href="#">Courses</a></li>
            <li><a class="link-text" href="#">Research</a></li>

          </ul>
        </div>

      </div>
      <div class="col s6 m2">
        <div class="links">
          <ul>
            <li><a class="link-text" href="#">Testimonials</a></li>
            <li><a class="link-text" href="#">About</a></li>
            <li><a class="link-text" href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col m2 s12">
        <div class="">
              <h6 class="link-text">Social Links</h6>
              <div class="line"></div>
              <div class="row">
                <div class="col s4">
                  <a href="#">
                    <img class="social" src="./img/fb.png" alt="">
                  </a>
                </div>
                <div class="col s4">
                  <a href="#">
                    <img class="social" src="./img/insta.png" alt="">
                  </a>
                </div>
                <div class="col s4">
                  <a href="#">
                    <img class="social" src="./img/twitter.png" alt="">
                  </a>
                </div>

                </div>

        </div>

    </div>
  </div>
  <div class="credits bluebackground">
  <center>
    <span class="amber-text">&copy; 2018  All Rights Reserved.</span>
    </center>
  </div>
