<div class="navbar-fixed">
<nav>
   <div class="nav-wrapper white">
     <div>
     <a href="#!" class=" left brand-logo">
       <img src="./img/logo.png" />
     </a>
   </div>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger"></a>
     <ul class="right black-text">
           <li class=""><a href="/">Home</a></li>
           <li class="programs"><a href="#" class="link-text">Programs</a></li>
           <div class="dropdown-con programs amber accent-3 hide ">
             <div id="programsnav" class="triangle">
             </div>
             <div  class="right marginright3">
               <span class="left"><a class="link-text" href="research">Research</a></span>
               <span class="left"><a class="link-text" href="education">Education and Learning</a></span>
               <span class="left"><a class="link-text" href="#!">Innovation and Entrepreneurship</a></span>
             </div>
           </div>
           <li class="whyxelerate"><a href="#" class="link-text">Why Xelerate</a></li>
           <div class="dropdown-con whyxelerate amber accent-3 hide ">
             <div id="whyxeleratenav" class="triangle">
             </div>
             <div  class="right marginright3">
               <span class="left"><a class="link-text" href="concept">Xelerate Concept</a></span>
               <span class="left"><a class="link-text" href="#!">Program Benefits</a></span>
               <span class="left"><a class="link-text" href="#!">Testimonials</a></span>
             </div>
           </div>
           <li class="aboutus"><a   href="#!" class="link-text">About Us</a></li>
             <div class="dropdown-con aboutus amber accent-3 hide ">
               <div id="aboutusnav" class="triangle">

               </div>
               <div  class="right marginright3">
                 <span class="left"><a class="link-text" href="#!">Vision & Values</a></span>
                 <span class="left"><a class="link-text" href="#!">Team</a></span>
                 <span class="left"><a class="link-text" href="#!">Faculty</a></span>
               </div>
             </div>
           <li><a href="#" class="link-text">Success Stories </a></li>
           <li><a href="contact" class="link-text">Contact Us</a></li>
         </ul>
   </div>
 </nav>
</div>

 <ul class="sidenav" id="mobile-demo">
   <li><a href="sass.html">Sass</a></li>
   <li><a href="badges.html">Components</a></li>
   <li><a href="collapsible.html">Javascript</a></li>
   <li><a href="mobile.html">Mobile</a></li>
 </ul>
